/* INICIO HEADER */

header {
    background-color: var(--primary-color-100);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 24px;
    height: 72px;
    box-shadow: 0 4px 10px #0000001a;
}

.header_left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header_left_logo {
    display: flex;
    align-items: center;
}

.header_left_logo_text {
    text-transform: uppercase;
}

.header_left_items {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.header_left_items_container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.header_left_items_container__item {
    padding: 0 17px;
}

.header_left_items_container__item svg {
    height: 24px;
    min-width: 24px;
    vertical-align: middle;
    width: 24px;
    position: relative;
    left: -5px;
}

.header_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_right .header_right_idioma {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.header_right .header_right_idioma .header_right_idioma__img {
    width: 30px;
}

.header_right .header_right_idioma .header_right_idioma_text {
    margin-left: 5px;
    margin-right: 10px;
    font-weight: 800;
    font-size: 16px;
}

.header_right .header_right_cuenta {
    margin-left: 20px;
    background-color: var(--primary-color-100);
    padding: 15px;
    font-weight: 800;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid black;
}

.header_mobile{
    display: none;
}

.header_mobile button {    
    border: none;
    background-color: transparent;
}

.header_mobile button i {    
    font-size: 26px;
}

@media screen and (max-width: 1080px) {
    .header_left_items_container__item {
        padding: 0 5px;
    }
}

@media screen and (max-width: 970px)  {
    .header_right, .header_left_items {
        display: none;
    }
    .header_mobile {
        display: block;
    }
}

/* FIN HEADER */

/* INICIO MAIN */

/* INICIO SECTION HERO */

main .section_hero {
    background-color: var(--primary-color-100);
}

main .section_hero .section_hero__container {
    padding: 0px 80px;
    margin: 0px 152px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .section_hero .section_hero__container .section_hero__container-left {
    display: flex;
    flex-direction: column;
    align-items: left;
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_title {
    font-size: 40px;
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_subtitle__span {
    color: var(--primary-color-500);
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_subtitle {
    margin-bottom: 20px;
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_tic .bi-check {
    color: var(--secondary-color-500);
    margin-right: 5px;
    font-size: 20px;
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_tic .bi-info-circle {
    margin-left: 10px;
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_precio {
    margin-top: 20px;
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_precio_numero {
    font-size: 38px;
    font-weight: 800;
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_bonificacion {
    font-weight: 800;
    margin-bottom: 20px
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_buttons .section_hero__container-left_buttons__start_now {
    background-color: var(--primary-color-500);
    padding: 10px 30px;
    border-radius: 8px;
    color: var(--primary-color-100);
    font-weight: 800;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 180px;
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_buttons .section_hero__container-left_buttons__countdown {
    background-color: var(--primary-color-400);
    padding: 10px 25px;
    border-radius: 8px;
    color: var(--primary-color-700);
    font-weight: 800;
    font-size: 16px;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
}

main .section_hero .section_hero__container .section_hero__container-right {
    max-width: 60%;
}

main .section_hero .section_hero__container .section_hero__container-right img {
    width: 100%;
}

/* FIN SECTION HERO */

/* FIN MAIN */