/* INICIO HEADER */

header {
    background-color: var(--primary-color-100);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 24px;
    height: 72px;
    box-shadow: 0 4px 10px #0000001a;
}

header .header_left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header .header_left .header_left_logo {
    display: flex;
    align-items: center;
}

header .header_left_logo_text {
    text-transform: uppercase;
}

header .header_left .header_left_items {
    margin-left: 40px;
    display: flex;
    align-items: center;
}

header .header_left .header_left_items .header_left_items_container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

header .header_left .header_left_items .header_left_items_container .header_left_items_container__item svg {
    height: 24px;
    min-width: 24px;
    vertical-align: middle;
    width: 24px;
    position: relative;
    left: -5px;
}

header .header_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .header_right .header_right_idioma {
    display: flex;
    align-items: center;
}

header .header_right .header_right_idioma .header_right_idioma_text:hover, header .header_left .header_left_items .header_left_items_container .header_left_items_container__item a:hover {
    color: var(--primary-color-450);
}

header .header_right .header_right_idioma .header_right_idioma__img {
    width: 30px;
}

header .header_right .header_right_idioma .header_right_idioma_text {
    margin-left: 5px;
    margin-right: 10px;
    font-weight: 800;
    font-size: 16px;
}

header .header_right .header_right_cuenta {
    margin-left: 20px;
    background-color: var(--primary-color-100);
    padding: 15px;
    font-weight: 800;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid black;
}

header .header_right .header_right_cuenta:hover {
    background-color: var(--primary-color-300);
}

header .header_mobile{
    display: none;
}

header .header_mobile button {    
    border: none;
    background-color: transparent;
}

header .header_mobile button i {    
    font-size: 26px;
}

@media screen and (max-width: 1080px) {
    header .header_left .header_left_items .header_left_items_container {
        gap: 12px
    }
}

@media screen and (max-width: 970px)  {
    header .header_right, header .header_left .header_left_items {
        display: none;
    }
    header .header_mobile {
        display: block;
    }
}

/* FIN HEADER */

/* INICIO MAIN */

/* INICIO SECTION HERO */

main .section_hero {
    background-color: var(--primary-color-100);
}

main .section_hero .section_hero__container {
    padding: var(--padding-section-default);
    margin: var(--margin-section-default);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main .section_hero .section_hero__container .section_hero__container-left {
    display: flex;
    flex-direction: column;
    align-items: left;
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_title {
    font-size: 40px;
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_subtitle__span {
    color: var(--primary-color-500);
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_subtitle {
    margin-bottom: 20px;
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_tic .bi-check {
    color: var(--secondary-color-500);
    margin-right: 5px;
    font-size: 20px;
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_tic .bi-info-circle {
    margin-left: 10px;
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_precio {
    margin-top: 20px;
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_precio_numero {
    font-size: 38px;
    font-weight: 800;
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_bonificacion {
    font-weight: 800;
    margin-bottom: 20px
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_buttons .section_hero__container-left_buttons__start_now {
    background-color: var(--primary-color-500);
    padding: 10px 30px;
    border-radius: 8px;
    color: var(--primary-color-100);
    font-weight: 800;
    font-size: 16px;
    width: 180px;
    text-align: center;
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_buttons .section_hero__container-left_buttons__start_now:hover {
    background-color: var(--primary-color-600);
}

main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_buttons .section_hero__container-left_buttons__countdown {
    background-color: var(--primary-color-400);
    padding: 10px 25px;
    border-radius: 8px;
    color: var(--primary-color-700);
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 1px;
}

main .section_hero .section_hero__container .section_hero__container-right img {
    max-width: 100%;
    height: auto;
    display: block;
}

@media screen and (max-width:1550px) {
    main .section_hero .section_hero__container {
        padding: var(--padding-section-1550px);
        margin: var(--margin-section-1550px)
    }
}

@media screen and (max-width:1150px) {
    main .section_hero .section_hero__container {
        flex-direction: column;
    }
}

@media screen and (max-width:768px) {
    main .section_hero .section_hero__container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: var(--padding-section-768px);
        margin: var(--margin-section-768px);
        gap: 20px;
    }
}

@media screen and (max-width:480px) {
    main .section_hero .section_hero__container {
        padding: var(--padding-section-480px);
        margin: var(--margin-section-480px)
    }
}

@media screen and (max-width:400px) {
    main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_buttons .section_hero__container-left_buttons__start_now, main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_buttons .section_hero__container-left_buttons__countdown {
        width: 140px;
        padding: 10px 15px;
        height: min-content;
        font-size: 14px;
    }
    .section_hero__container-left_buttons__start_now, main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_buttons .section_hero__container-left_buttons__countdown {
        width: min-content;
    }
    main .section_hero .section_hero__container .section_hero__container-left .section_hero__container-left_buttons {
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 10px;
        margin-bottom: 20px;
    }
}

/* FIN SECTION HERO */

/* INICIO SECTION MIGRATION */

.section_migration {
    background-color: var(--primary-color-750);
}

.section_migration .section_migration__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-section-default);
    margin: var(--margin-section-default);
}

.section_migration .section_migration__container .section_container__title-text {
    font-size: 28px;
}

.section_migration .section_migration__container .section_container__description-text {
    font-size: var(--font-size-500);
}

.section_migration .section_container__title-text, .section_migration .section_container__description-text, .section_migration .section_container__cards-card__title, .section_migration .section_container__cards-card__text, .section_migration .section_migration__container-start, .section_migration i {
    color: var(--primary-color-100);
}

.section_migration .section_container__cards-card__title {
    font-weight: 700;
}

.section_migration .section_migration__container .section_migration__container-title, .section_migration .section_migration__container .section_migration__container-description {
    margin-bottom: 30px;
}

.section_migration .section_migration__container .section_migration__container-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.section_migration .section_migration__container .section_migration__container-cards .section_migration__container-cards__card {
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: var(--primary-color-700);
    padding: 20px;
    border-radius: 12px;
    width: 33%;
}

.section_migration .section_migration__container .section_migration__container-cards .section_migration__container-cards__card i {
    background-color: var(--primary-color-500);
    width: min-content;
    height: min-content;
    border-radius: 8px;
    padding: 8px 10px;
}

.section_migration .section_migration__container .section_migration__container-start {
    background-color: var(--primary-color-500);
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 30px;
}

.section_migration .section_migration__container .section_migration__container-start:hover {
    background-color: var(--primary-color-600);
}

@media screen and (max-width:1550px) {
    .section_migration .section_migration__container {
        padding: var(--padding-section-1550px);
        margin: var(--margin-section-1550px);
    }
}

@media screen and (max-width:768px) {
    .section_migration .section_migration__container {
        padding: var(--padding-section-768px);
        margin: var(--margin-section-768px);
        gap: 10px;
    }

    .section_migration .section_migration__container .section_migration__container-cards {
        flex-direction: column;
    }

    .section_migration .section_migration__container .section_migration__container-cards .section_migration__container-cards__card {
        width: 100%;
        padding: 30px;
    }
}

@media screen and (max-width:480px) {
    .section_migration .section_migration__container {
        padding: var(--padding-section-480px);
        margin: var(--margin-section-480px)
    }
}

@media screen and (max-width:400px) {
    .section_migration .section_migration__container {
        padding: var(--padding-section-400px);
    }
}

/* FIN SECTION MIGRATION */

/* INICIO FOOTER */

.footer_container {
    display: flex;
    flex-direction: column;
    padding: var(--padding-section-default);
    margin: var(--margin-section-default);
    gap: 15px;
}

.footer_container .footer_container__top, .footer_container .footer_container__middle, .footer_container .footer_container__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer_container .footer_container__top .footer_container__top-logo {

}

.footer_container .footer_container__top .footer_container__top-rrss {

}

.footer_container .footer_container__top .footer_container__top-rrss .footer_container__top-rrss__list, .footer_container .footer_container__middle .footer_container__middle-cards .footer_container__middle-cards__list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_container .footer_container__top .footer_container__top-rrss .footer_container__top-rrss__list {
    gap: 20px;
    font-size: 25px;
}

.footer_container .footer_container__middle .footer_container__middle-cards .footer_container__middle-cards__list {
    gap: 5px;
}

.footer_container .footer_container__middle .footer_container__middle-cards .footer_container__middle-cards__list .footer_container__middle-cards__list-card img {
    width: 60px;
    height: 40px;
    border: 1px solid var(--primary-color-400);
    border-radius: 6px;
}

.footer_container .footer_container__middle .footer_container__middle-cards .footer_container__middle-cards__list .footer_container__middle-cards__list-card a {
    font-weight: 800;
    color: var(--primary-color-500);
}

.footer_container .footer_container__middle .footer_container__middle-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: var(--primary-color-500);
}

.footer_container .footer_container__middle .footer_container__middle-info a {
    color: var(--primary-color-700);
}

.footer_container .footer_container__middle .footer_container__middle-info a:hover {
    color: var(--primary-color-600);
}

.footer_container .footer_container__bottom {
    padding-top: 30px;
    color: var(--primary-color-700);
}

@media screen and (max-width:1550px) {
    .footer_container {
        padding: var(--padding-section-1550px);
        margin: var(--margin-section-1550px);
    }
}

@media screen and (max-width:1280px) {
    .footer_container .footer_container__middle .footer_container__middle-info {
        width: 350px;
        gap: 40px;
    }

    .footer_container .footer_container__middle .footer_container__middle-cards {
        width: 300px;
        gap: 25px;
    }
}

@media screen and (max-width:1150px) {
    .footer_container .footer_container__middle .footer_container__middle-info {
        width: 350px;
        gap: 40px;
    }

    .footer_container .footer_container__middle .footer_container__middle-cards {
        width: 300px;
        gap: 25px;
    }

    .footer_container__middle .footer_container__middle-cards .footer_container__middle-cards__list {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:860px) {
    .footer_container {
        padding: var(--padding-section-768px);
        margin: var(--margin-section-768px);
    }

    .footer_container .footer_container__top {
        flex-direction: column-reverse;
        align-items: normal;
        gap: 30px;
    }

    .footer_container .footer_container__top .footer_container__top-rrss__list {
        justify-content: space-between;
    }

    .footer_container .footer_container__middle {
        flex-direction: column-reverse;
        align-items: normal;
        gap: 30px;
    }

    .footer_container .footer_container__middle .footer_container__middle-info {
        width: 350px;
        gap: 40px;
    }

    .footer_container .footer_container__middle .footer_container__middle-cards {
        width: 300px;
        gap: 25px;
    }

    .footer_container__middle .footer_container__middle-cards .footer_container__middle-cards__list {
        flex-wrap: wrap;
    }

    .footer_container .footer_container__middle .footer_container__middle-cards .footer_container__middle-cards__list .footer_container__middle-cards__list-card img {
        width: 70px;
        height: 50px;
    }

    .footer_container .footer_container__bottom {
        flex-direction: column;
        align-items: normal;
        gap: 30px;
    }
}

@media screen and (max-width:480px) {
    .footer_container {
        padding: var(--padding-section-480px);
        margin: var(--margin-section-480px)
    }
    .footer_container .footer_container__bottom {
        padding-top: 15px;
    }
}

@media screen and (max-width:400px) {
    .footer_container {
        padding: var(--padding-section-400px);
    }

    .footer_container .footer_container__middle .footer_container__middle-info {
        width: auto;
        flex-wrap: wrap;
        gap: 5px;
    }

    .footer_container .footer_container__middle .footer_container__middle-cards {
        width: auto;
    }
}

/* INICIO KODEE BUTTON */

main .btn_kodee_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #683ee6;
    padding: 5px 13px;
    border-radius: 50px;
    position: fixed;
    bottom: 12px;
    right: 20px;
    cursor: pointer;
}

main .btn_kodee_container i {
    font-size: 24px;
}

main .btn_kodee_container i, main .btn_kodee_container button, main .btn_kodee_container button span {
    color: var(--primary-color-100);
}

main .btn_kodee_container button {
    background-color: transparent;
    border: none;
    font-weight: 800;
    font-size: 14px;
    cursor: pointer;
}

@media screen and (max-width:500px) {
    main .btn_kodee_container button span {
        display: none;
    }
}

/* FIN KODEE BUTTON */

/* FIN FOOTER */

/* FIN MAIN */