/* INICIO HEADER */

header {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 24px;
    height: 72px;
}

.header_left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header_left_logo {
    display: flex;
    align-items: center;
}

.header_left_logo_text {
    text-transform: uppercase;
}

.header_left_items {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.header_left_items_container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.header_left_items_container__item {
    padding: 0 17px;
}

.header_left_items_container__item svg {
    height: 24px;
    min-width: 24px;
    vertical-align: middle;
    width: 24px;
    position: relative;
    left: -5px;
}

.header_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_right .header_right_idioma {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.header_right .header_right_idioma .header_right_idioma__img {
    width: 30px;
}

.header_right .header_right_idioma .header_right_idioma_text {
    margin-left: 5px;
    margin-right: 10px;
    font-weight: 800;
    font-size: 16px;
}

.header_right .header_right_cuenta {
    margin-left: 20px;
    background-color: #ffffff;
    padding: 15px;
    font-weight: 800;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid black;
}

.header_mobile{
    display: none;
}

.header_mobile button {    
    border: none;
    background-color: transparent;
}

.header_mobile button i {    
    font-size: 26px;
}

@media screen and (max-width: 1080px) {
    .header_left_items_container__item {
        padding: 0 5px;
    }
}

@media screen and (max-width: 970px)  {
    .header_right, .header_left_items {
        display: none;
    }
    .header_mobile {
        display: block;
    }
}

/* FIN HEADER */