:root{
    --primary-color-500: #673de6;
    --primary-color-100: #ffffff;
    --primary-color-200: #f5f6ff;
    --primary-color-600: #471ea7;
    --primary-color-800: #000000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", monospace;
}

a {
    text-decoration: none;
    color: var(--primary-color-800);
}