:root{
    --primary-color-500: #673de6;
    --primary-color-100: #ffffff;
    --primary-color-200: #f5f6ff;
    --primary-color-400: #e3dcfc;
    --primary-color-600: #471ea7;
    --primary-color-700: #301c6b;
    --primary-color-800: #000000;

    --secondary-color-500: #0bb394;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", monospace;
    color: var(--primary-color-700);
}

a {
    text-decoration: none;
    color: var(--primary-color-800);
}

main {
    padding: 36px 0px 96px;
}